upstream app {
  ip_hash;
{{range getvs "/services/appname/upstream/*"}}
  server {{.}};
{{end}}
}

server {
  listen 80;
  access_log /var/log/nginx/appname.access.log;
  error_log /var/log/nginx/appname.log;

  location / {
    proxy_set_header Upgrade $http_upgrase;
    proxy_set_header Connection "upgrade";
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_pass     http://app;
    proxy_redirect off;
    proxy_set_header Host $host;
    proxy_http_version 1.1;
  }
}
